.App-logo {
  height: 5rem;
  pointer-events: none;
  z-index: 1;

  /* background-color: aliceblue; */
}

.App-header {
  background-color: var(--deep-purple);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

hr {
  width: 80%;
  margin: 3rem 0px;
}