.feature-container {
    background-color: var(--deep-purple-dark);
    padding: 2rem;

    width: min(250px, 100%);
    height: auto;

    margin: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px black;
}

.feature-title-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.feature-img {
    width: 1.5rem;
    margin-right: 1rem;
}

.feature-title {
    font-size: 1rem;
    font-weight: 900;
}

.feature-description {
    font-size: 0.85rem;
    line-height: 1.25rem;
    margin-top: 1rem;
    font-weight: 600;
    color: var(--purple-light);
}

@media screen and (max-width: 750px) {
    .feature-container {

        width: 100%;

        margin: 1rem 0;
    }
}
