:root {
	--purple-light: rgb(112, 15, 197);
	--purple: rgb(84, 14, 146);
	--deep-purple-light: rgb(36, 3, 65);
	--deep-purple: rgb(30, 3, 54);
	--deep-purple-dark: rgb(21, 2, 37);
	--deep-purple-dark-200: rgb(14, 0, 26);
	--navbar-height: 60px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
	overflow-x: hidden;
	font-family: "Poppins", sans-serif;
}

body {
	width: 100vw;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: Consolas;
	margin: 1rem 0px;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--deep-purple);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--deep-purple-dark);
}

.container {
	width: 75%;
	margin: 0px auto;
}

@media screen and (max-width: 500px) {
	.container {
		width: 90%;
		margin: 0px auto;
	}
}