nav {
    width: 100vw;
    height: var(--navbar-height);

    display: flex;
    flex-flow: row;
    align-items: center;

    background-color: rgba(49, 11, 71, 0.5);
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);

    position: fixed;
    z-index: 1000;
}

#nav-link {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 1000;
    width: fit-content;
    height: fit-content;
    color: var(--purple);
    color: #fff;
    transition: 200ms color;

    position: absolute;
    left: 2rem;
    z-index: 1500;
}

#nav-link:hover {
    color: var(--purple-light);
}

#nav-button {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: var(--purple);
    outline: none;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 900;
    transition: 200ms color;

    position: absolute;
    right: 2rem;
    z-index: 1500;
}

#nav-button:hover {
    color: var(--purple-light);
}

#menu-container {
    position: absolute;
    top: 0px;
    right: 0;
    background-color: var(--deep-purple-dark);
    background-color: black;
    /* width: calc(100vw + 100px); */
    width: 100vw;
    height: 100vh;

    z-index: 1400;

    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    list-style: none;
}

li a {
    font-size: 2rem;
    text-decoration: none;
    font-family: inherit;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--purple);
    transition: 300ms color;
}

li a:hover {
    color: var(--purple-light);
}

.menu-enter {
    opacity: 0;
    /* transform: translateX(80px); */
}
.menu-enter-active {
    opacity: 1;
    /* transform: translateX(0px); */

    /* transition: opacity 500ms, transform 500ms; */
    transition: opacity 300ms;
}
.menu-exit {
    /* transform: translateX(0px); */
    opacity: 1;
}
.menu-exit-active {
    opacity: 0;
    /* transform: translateX(80px); */
    /* transition: opacity 300ms, transform 300ms; */
    transition: opacity 300ms;

}
